* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.container {
    border: solid #999 1px;
    border-radius: 10px;
    width: 700px;
    max-width: 100%;

    .head{
        .display {
            border: solid #999 1px;
            border-radius: 5px;
            height: 2em;
            font-size: 2em;
            text-align: right;
            margin: 1em;
            padding: 10px;
            background-color: #fff;
        }
    }

    .body{
        display: flex;
        margin: 2em;
        width: 100%;
        .numbers{
            display: flex;
            width: 50%;
            flex-wrap: wrap;
            gap: 1px;

            div {
                width: 30.33%;
                border: solid #999 1px;
                padding: 1em;
                border-radius: 5px;
                cursor: pointer;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        .operators{
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 40%;
            gap: 5px;

            div {
                border: solid #999 1px;
                border-radius: 5px;
                cursor: pointer;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                

                &.long {
                    grid-column: 2 / 3;
                    grid-row: 2 / 4;
                }
                
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
}

.logger {
    position: fixed;
    bottom: 0;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.35);
    color: black;
    width: 20%;
    padding: 1em 2em;
    height: 100vh;

    .log {
        border: solid 1px #0000003c;
        background-color: #ffffff;
        border-radius: 5px;
        font-size: 18px;
        width: 100%;
        padding: 1em;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
       &:last-child { margin-bottom: 0; }
    }
}